body {
    background-image: url('img/thugclub.jpeg');
    background-size: 100%; /* 調整背景圖片大小以填滿整個視窗 */
}
.decoration {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 13%; /* 調整圖片最大寬度 */
    height: auto; /* 保持原始高度比例 */
    border-radius: 5%; /* 圖片圓角 */
    z-index: 9999; /* 確保圖片在最上層 */
}
.rotate {
    animation: rotateImage 9s linear infinite; /* 应用旋转动画 */
}

/* 定义旋转动画 */
@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header {
    color: yellow;
    padding: 20px;
}
.menu-link {
    color: yellow; /* 將連結文字顏色設置為白色 */
    text-decoration: none; /* 移除連結的下劃線 */
}

.menu-link:hover {
    text-decoration: underline; /* 滑鼠懸停時顯示下劃線 */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
.btn {
    background: #8B0000;
    /* 創建渐变 */
    background-image: -webkit-linear-gradient(top, #8B0000, #000000);
    background-image: -moz-linear-gradient(top, #8B0000, #000000);
    background-image: -ms-linear-gradient(top, #8B0000, #000000);
    background-image: -o-linear-gradient(top, #8B0000, #000000);
    background-image: linear-gradient(to bottom, #8B0000, #000000);
    /* 其他樣式 */
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #666666;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 18px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 20px;
    padding: 10px 22px;
    text-decoration: none;
}

.btn:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #8B0000);
    background-image: -moz-linear-gradient(top, #000000, #8B0000);
    background-image: -ms-linear-gradient(top, #000000, #8B0000);
    background-image: -o-linear-gradient(top, #000000, #8B0000);
    background-image: linear-gradient(to bottom, #000000, #8B0000);
    text-decoration: none;
}



main {
    padding: 20px;
}
main .landing p {
    font-size: 20px;
    color: yellow;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.landing {
    text-align: center;
    margin-top: 50px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 20px; /* 調整表單和圖片之間的間距 */
}

.login-image img {
    max-width: 150px; /* 設置圖片的最大寬度 */
    height: auto; /* 讓圖片保持原始高度比例 */
}

.login-image img {
    max-width: 200px; /* 設置圖片的最大寬度 */
    height: auto; /* 讓圖片保持原始高度比例 */
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkred;
    color: #fff;
    padding: 5px 12;
    text-align: center;
}


/* 响应式设计 - 螢幕小於等於 768px */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* 調整字體大小 */
    }
    .login-image img {
        max-width: 80%; /* 設置圖片的最大寬度為父元素寬度的 80% */
        height: auto; /* 讓圖片保持原始高度比例 */
    }
}

/* 响应式设计 - 螢幕小於等於 480px */
@media (max-width: 480px) {
    body {
        font-size: 12px; /* 更小的字體大小 */
    }
    .login-image img {
        max-width: 70%; /* 設置圖片的最大寬度為父元素寬度的 80% */
        height: auto; /* 讓圖片保持原始高度比例 */
    }
}
